.Article {
  padding: 30px 0 40px;
  overflow: hidden;
  color: #757575;
}
.Article:before,
.Article:after {
  content: "";
  display: table;
}
.Article:after {
  clear: both;
}
.Article > .pict:first-child {
  margin-top: 0;
}
.Article .Cards {
  margin-top: 45px;
}
.Article h1,
.Article h2,
.Article h3,
.Article h4,
.Article h5,
.Article h6 {
  color: #484848;
  font-size: 24px;
  font-weight: 500;
  line-height: 1.2em;
  margin-top: 23px;
  margin-bottom: 20px;
}
.Article h1:first-child,
.Article h2:first-child,
.Article h3:first-child,
.Article h4:first-child,
.Article h5:first-child,
.Article h6:first-child {
  margin-top: 0;
}
.Article h1 {
  font-size: 36px;
}
.Article h2 {
  font-size: 30px;
}
.Article h3 {
  font-size: 24px;
}
.Article h4 {
  font-size: 18px;
}
.Article h5 {
  font-size: 14px;
}
.Article h6 {
  font-size: 12px;
}
.Article blockquote {
  color: #2d2d2d;
  font-size: 26px;
  font-weight: 300;
  line-height: 1.4em;
  padding: 0 0 0 42px;
  margin: 20px 0;
  border-left: 5px solid #8a8989;
}
@media screen and (max-width: 480px) {
  .Article blockquote {
    padding-left: 20px;
    font-size: 22px;
    border-left-width: 3px;
  }
}
.Article .Toc + h2 {
  margin-top: 0;
}
.Article ul,
.Article ol {
  padding-left: 0;
  margin-top: 23px;
  margin-bottom: 27px;
  line-height: 1.4em;
  font-size: 16px;
  color: #8a8989;
}
.Article ul li,
.Article ol li {
  position: relative;
  padding-left: 36px;
  list-style: none;
}
.Article ul li:after,
.Article ol li:after {
  position: absolute;
  content: '';
  display: block;
  width: 12px;
  height: 12px;
  background: #fff;
  left: 0px;
  top: 4px;
  border-radius: 100px;
  border: 2px solid #6db33f;
}
.Article ul li + li,
.Article ol li + li {
  margin-top: 25px;
}
.Article ol {
  counter-reset: list;
}
.Article ol li {
  list-style: none;
  position: relative;
}
.Article ol li:after {
  background: none;
  height: 20px;
  width: 26px;
  text-align: right;
  position: absolute;
  left: 0px;
  top: 0px;
  border-radius: 0;
  border: none;
  counter-increment: list;
  content: counter(list) '.';
}
.Article img {
  margin-top: 20px;
}
.Article .pict img {
  margin-top: 0;
}
.Article p {
  line-height: 1.5em;
  color: #757575;
  margin-bottom: 10px;
}
.Article table {
  margin-top: 50px;
}
.Article table:last-child {
  margin-bottom: 0;
}
.Article .clearfix:before,
.Article .clearfix:after {
  content: "";
  display: table;
}
.Article .clearfix:after {
  clear: both;
}
.Article_ins {
  font-size: 12px;
  line-height: 1.6em;
}

.Author {
  display: block;
}
.Author-books {
  font-weight: 500;
  font-size: 18px;
}
.Author-amount {
  color: #aaa;
  display: inline-block;
  margin-left: 5px;
  font-size: 0.9em;
}

.Authors {
  visibility: visible;
}
.Authors-links {
  display: flex;
  margin-bottom: 30px;
}
@media screen and (max-width: 990px) {
  .Authors-links {
    flex-wrap: wrap;
  }
}
.Authors-link {
  font-size: 18px;
  font-weight: 600;
  margin-right: 5px;
  margin-bottom: 10px;
}
.Authors-title {
  margin-top: 49px; !important;
  font-size: 18px;
  margin-bottom: 10px;
}
.Authors-title a {
  cursor: default;
  color: #2b2b2b;
  display: inline-block;
  border: none;
}
.Authors-title a:hover {
  border: none;
}
.Authors-letter {
  margin-top: 30px;
  -moz-columns: 3;
       columns: 3;
  columns-gap: 20px;
  text-align: left;
}
@media screen and (max-width: 990px) {
  .Authors-letter {
    -moz-columns: 2;
         columns: 2;
  }
}
@media screen and (max-width: 480px) {
  .Authors-letter {
    -moz-columns: 1;
         columns: 1;
  }
}
.Authors-blank {
  opacity: 0;
}
.Authors-item {
  display: block;
}
.Authors-item a {
  margin-bottom: 3px;
  display: inline-block;
}

.Cards {
  display: flex;
  flex-wrap: wrap;
  justify-content: center;
  width: 100%;
}
@media screen and (min-width: 990px) {
  .Cards {
    width: auto;
    margin: 0px -1%;
  }
}
@media screen and (max-width: 990px) {
  .Cards {
    justify-content: center;
  }
}
@media screen and (max-width: 480px) {
  .Cards {
    margin-left: 0;
  }
}
.Cards-footer {
  display: flex;
  margin-top: 0px;
  width: 100%;
}
.Cards-footer_center {
  justify-content: center;
}
.Cards .Card {
  width: 18%;
  margin: 0px 1% 7.6%;
  min-width: 100px;
}
@media screen and (max-width: 990px) {
  .Cards .Card {
    width: 46%;
  }
}
@media screen and (max-width: 480px) {
  .Cards .Card {
    width: 100%;
    margin-left: 0;
    margin-right: 0;
  }
}
.Cards.Slider-box {
  margin-top: -30px;
}
.Cards.Slider-box .Card {
  width: 100%;
  margin-left: 0 !important;
  margin-right: 0 !important;
  max-width: 100%;
}
@media screen and (max-width: 480px) {
  .Cards.Slider-box .Card {
    margin-left: auto;
    margin-right: auto;
    width: auto;
  }
  .Cards.Slider-box .Card-content,
  .Cards.Slider-box .Card-picture {
    width: 250px;
    min-width: auto;
  }
}
.Cards_hz {
  margin-bottom: -3.8%;
}
.Cards_hz .Card {
  width: 31.333%;
  max-width: 600px;
  display: flex;
  padding-top: 33px;
  padding-bottom: 33px;
  margin-bottom: 3.8%;
  min-width: 380px;
}
.Cards_hz .Card-picture {
  min-width: 40%;
  margin-right: 30px;
  min-height: 100px;
}
.Cards_hz .Card-description {
  margin-top: 9px;
}
.Cards_hz .Card-content {
  margin-top: 0;
  text-align: left;
}
@media screen and (max-width: 480px) {
  .Cards_hz .Card {
    display: block;
    min-width: auto;
  }
  .Cards_hz .Card .Rating {
    justify-content: center;
  }
  .Cards_hz .Card-content {
    text-align: center;
  }
}
.Cards_search {
  justify-content: flex-start;
}
@media screen and (max-width: 990px) {
  .Cards_search {
    justify-content: center;
  }
}
.Cards-imgOut {
  max-width: 100%;
}
@media screen and (max-width: 990px) {
  .Cards-imgOut {
    display: flex;
    justify-content: center;
  }
}
.Cards_big {
  justify-content: flex-start;
  align-items: center;
  flex-wrap: nowrap;
  margin-bottom: 1px;
}
@media screen and (max-width: 990px) {
  .Cards_big {
    flex-wrap: wrap;
  }
}
.Cards_big .Card {
  visibility: visible;
  border: none;
  text-align: left;
  padding: 86px 90px 90px;
  margin-bottom: 0;
  max-width: 662px;
  min-width: 500px;
  width: auto;
}
@media screen and (max-width: 990px) {
  .Cards_big .Card {
    margin-left: 0;
    max-width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .Cards_big .Card {
    min-width: auto;
    padding: 20px;
  }
}
.Cards_big .Card-sale {
  left: auto;
  right: 33px;
  top: -27px;
}
.Cards_big .Card-price {
  font-size: 20px;
  line-height: 1.2em;
  letter-spacing: 2px;
}
.Cards_big .Card-priceOld {
  font-size: 20px;
  line-height: 1.2em;
  letter-spacing: 2px;
}
@media screen and (max-width: 480px) {
  .Cards_big .Card-priceOld {
    font-size: 18px;
  }
}
@media screen and (max-width: 480px) {
  .Cards_big .Card-price {
    font-size: 18px;
  }
}
.Cards_big .Card-title {
  font-size: 22px;
  font-weight: 600;
  line-height: 1.3em;
  margin-top: 10px;
  text-transform: uppercase;
  margin-bottom: 0;
}
@media screen and (max-width: 480px) {
  .Cards_big .Card-title {
    font-size: 18px;
  }
}
.Cards_big .Card-description {
  font-size: 16px;
  text-transform: none;
  line-height: 2em;
  margin-top: 0;
}
.Cards_column .Card {
  width: 31.333%;
  display: flex;
  padding: 10px;
  margin-bottom: 3.8%;
  min-width: 115px;
  min-height: 115px;
  border: none;
  box-shadow: none;
}
.Cards_column .Card-picture {
  min-height: 0;
}
.Cards_blog .Card {
  padding: 0;
  max-width: none;
  text-align: left;
  margin-bottom: 2.6%;
}
@media screen and (max-width: 990px) {
  .Cards_blog .Card {
    width: 48%;
  }
}
.Cards_blog .Card-picture {
  line-height: 0;
  align-items: flex-start;
  min-height: auto;
  position: relative;
  padding-top: 74%;
}
.Cards_blog .Card-picture img {
  position: absolute;
  left: 0;
  top: 0;
  right: 0;
  z-index: 1;
}
.Cards_blog .Card-content {
  padding: 12px 39px 20px;
}
@media screen and (max-width: 990px) {
  .Cards_blog .Card-content {
    padding: 0 20px 20px;
  }
}
@media screen and (max-width: 550px) {
  .Cards_blog .Card {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}
.Cards_account {
  margin: 0 0 -3.6%;
}
.Cards_account .Card {
  width: 31.333%;
  max-width: 400px;
}
@media screen and (max-width: 990px) {
  .Cards_account .Card {
    width: 46%;
  }
}
@media screen and (max-width: 700px) {
  .Cards_account .Card {
    width: 70%;
  }
}
.Cards-ins {
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
  margin-left: -20px;
  margin-top: 41px;
}
@media screen and (max-width: 480px) {
  .Cards-ins {
    margin-left: 0;
  }
}
.Cards-ins .Card {
  width: 22%;
}
@media screen and (max-width: 990px) {
  .Cards-ins .Card {
    width: 40%;
  }
}
@media screen and (max-width: 480px) {
  .Cards-ins .Card {
    width: auto;
    margin-left: 0;
    margin-right: 0;
  }
}
.Card {
  max-width: 300px;
  align-items: center;
  position: relative;
  padding: 0px;
}
.Card:before,
.Card:after {
  content: "";
  display: table;
}
.Card:after {
  clear: both;
}
@media screen and (min-width: 990px) {
  .Card:hover .Card-hover {
    top: 0;
    transition: top 300ms;
  }
}
.Card-picture {
  min-width: 100%;
  display: flex;
  position: relative;
  line-height: 0;
  align-items: center;
  justify-content: center;
  box-shadow: 0 0 14px 4px rgba(0,0,0,0.07);
}
.Card-picture:focus {
  outline: none;
}
@media screen and (min-width: 990px) {
  .Card-picture:hover {
    border-bottom-color: transparent;
  }
}
.Card-picture:empty {
  background: #f3f4f9;
}
.Card-picture img {
  width: 100%;
  margin: 0;
}
.Card-date {
  position: absolute;
  left: 14px;
  top: 14px;
  background: #fff;
  width: 60px;
  z-index: 5;
  text-align: center;
}
.Card-date-number {
  display: flex;
  align-items: center;
  justify-content: center;
  background: #6db33f;
  color: #fff;
  font-size: 18px;
  font-weight: 500;
  padding: 5px;
  min-height: 42px;
}
.Card-date-month {
  display: block;
  color: #777;
  font-weight: 500;
  font-size: 12px;
  padding: 5px;
  text-transform: uppercase;
}
.Card-date_to {
  left: 105px;
}
.Card-date_to:after {
  content: '';
  display: block;
  height: 3px;
  width: 18px;
  position: absolute;
  background: #fff;
  border-bottom: 3px solid #6db33f;
  font-size: 18px;
  margin-top: 3px;
  left: -25px;
  top: 50%;
}
.Card-pin {
  position: absolute;
  top: 14px;
  right: 14px;
  width: 26px;
  height: 26px;
  background: url("../img/icons/pin.svg") center center no-repeat;
  background-size: contain;
  z-index: 10;
}
.Card-footer {
  margin-top: 11px;
}
.Card-content {
  margin-top: 20px;
  padding: 0;
  transition: all 300ms;
  color: #000;
}
.Card-quote,
.Card-link {
  height: 100%;
  display: flex;
  align-items: center;
  text-align: center;
  padding: 30px;
}
.Card-quote-text,
.Card-link-text {
  background: url("../img/icons/quote.svg") center top no-repeat;
  padding-top: 72px;
  font-size: 17px;
  line-height: 1.8em;
  font-weight: 400;
}
.Card-quote-author,
.Card-link-author {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  font-size: 13px;
  color: #949597;
  margin-top: 37px;
}
.Card-link-text {
  background-image: url("../img/icons/link.svg");
}
.Card-link-go {
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 2.4px;
  color: #949597;
  margin-top: 50px;
}
.Card-link-go a {
  color: #949597;
}
@media screen and (min-width: 990px) {
  .Card:hover .Card-content {
    opacity: 1;
    transition: all 300ms;
  }
}
.Card-title {
  display: block;
  line-height: 1.2em;
  width: 100%;
  margin-bottom: 3px;
  font-weight: 600;
  color: #2b2b2b;
  font-size: 17px;
  letter-spacing: 0.66px;
}
.Card-title a {
  text-decoration: none;
  color: #2b2b2b;
}
@media screen and (min-width: 990px) {
  .Card-title a:hover {
    color: #6db33f;
  }
}
.Card-description {
  margin-top: 5px;
  line-height: 1.2em;
  position: relative;
  overflow: hidden;
  color: #5e5e5e;
  font-size: 13px;
  font-weight: 300;
  letter-spacing: 0.51px;
}
.Card-cost {
  font-size: 17px;
  font-weight: 400;
  margin-top: 12px;
  line-height: 1.2em;
}
.Card-price {
  font-weight: 600;
  color: #6db33f;
  display: inline-block;
}
.Card-priceOld {
  color: #999;
  text-decoration: line-through;
  display: inline-block;
  margin-right: 7px;
  font-weight: 400;
}
.Card-category {
  display: block;
  margin-top: 11px;
}
.Card-btn {
  display: flex;
  width: 41px;
  height: 41px;
  background-color: #ebebeb;
  justify-content: center;
  align-items: center;
}
.Card-btn + .Card-btn {
  margin-left: 12px;
}
.Card-hover {
  position: absolute;
  left: 0;
  top: 100%;
  height: 100%;
  right: 0;
  display: flex;
  background: #fff;
  justify-content: center;
  align-items: center;
  transition: top 300ms;
}
.Card-ribbon {
  position: absolute;
  left: -5px;
  top: -5px;
  z-index: 1;
  overflow: hidden;
  width: 155px;
  height: 155px;
  text-align: right;
}
.Card-ribbonText {
  font-size: 14px;
  font-weight: bold;
  color: #fff;
  text-transform: uppercase;
  text-align: center;
  line-height: 25px;
  transform: rotate(-45deg);
  -webkit-transform: rotate(-45deg);
  width: 190px;
  padding-left: 10px;
  padding-right: 10px;
  display: block;
  background: #79a70a;
  background: linear-gradient(#9bc90d 0%, #79a70a 100%);
  box-shadow: 0 3px 10px -5px #000;
  position: absolute;
  top: 47px;
  left: -36px;
}
.Card-ribbonText::before {
  content: "";
  position: absolute;
  left: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid #79a70a;
  border-right: 3px solid transparent;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79a70a;
}
.Card-ribbonText::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: -1;
  border-left: 3px solid transparent;
  border-right: 3px solid #79a70a;
  border-bottom: 3px solid transparent;
  border-top: 3px solid #79a70a;
}
.Card-status {
  position: absolute;
  right: -15px;
  top: -15px;
  background: radial-gradient(circle, #fff 40%, rgba(255,255,255,0) 75%);
  padding: 8px;
  width: 50px;
  height: 50px;
  border-radius: 100px;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (min-width: 990px) {
  .Card-status:hover {
    cursor: default;
    position: absolute;
    padding: 8px;
    display: flex;
    border-bottom-color: transparent;
  }
}
.Card-status img {
  max-width: 100%;
  max-height: 100%;
}
.Card-sale {
  position: absolute;
  text-align: center;
  right: -4px;
  bottom: 27px;
  line-height: 1.2em;
  padding: 13px;
  pointer-events: none;
  display: flex;
  align-items: center;
  justify-content: center;
  box-shadow: -4px 3px 5px 1px rgba(0,0,0,0.2);
  background-color: #f7ca18;
  color: #2b2b2b;
  font-size: 18px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.36px;
}
.Card-sale::after {
  content: "";
  position: absolute;
  right: 0px;
  top: 100%;
  z-index: -1;
  border-left: 4px solid #f7ca18;
  border-right: 4px solid transparent;
  border-bottom: 4px solid transparent;
  border-top: 4px solid #f7ca18;
}
@media screen and (max-width: 990px) {
  .Card-tabletHide {
    display: none;
  }
}
@media screen and (max-width: 480px) {
  .Card-phoneHide {
    display: none;
  }
}

.Cart {
  margin-top: 30px;
  margin-bottom: 0;
}
.Cart-product {
  display: flex;
  align-items: center;
  border-top: 1px solid #e0e0e0;
  padding-top: 20px;
  padding-bottom: 20px;
}
@media screen and (max-width: 990px) {
  .Cart-product {
    display: block;
  }
}
.Cart-total {
  border-top: 1px solid #e0e0e0;
  padding-top: 20px;
  padding-bottom: 20px;
  display: flex;
  align-items: center;
}
.Cart-total .Cart-price_old {
  display: inline-block;
  margin-left: 10px;
}
.Cart-total .Cart-price {
  margin-left: 10px;
}
.Cart-total .Cart-title {
  display: inline-block;
  margin-right: 10px;
}
@media screen and (max-width: 480px) {
  .Cart-total {
    display: block;
    text-align: center;
  }
  .Cart-total .Cart-title {
    margin-right: 0;
    margin-bottom: 20px;
  }
}
.Cart-author a {
  font-size: 14px;
  font-weight: 500;
  color: #b1b1b1;
  transition: color 300ms;
  display: inline-block;
  margin-bottom: 3px;
}
@media screen and (min-width: 990px) {
  .Cart-author a:hover {
    color: #6db33f;
    transition: color 300ms;
  }
}
.Cart-title a {
  font-size: 17px;
  font-weight: 500;
  color: #2b2b2b;
  transition: color 300ms;
  display: inline-block;
  margin-bottom: 10px;
}
@media screen and (min-width: 990px) {
  .Cart-title a:hover {
    color: #6db33f;
    transition: color 300ms;
  }
}
.Cart-buttons {
  margin-top: 30px;
}
.Cart-btn {
  display: inline-block;
}
@media screen and (max-width: 990px) {
  .Cart-btn {
    display: block;
  }
  .Cart-btn .btn {
    display: flex;
  }
}
.Cart-btn + .Cart-btn {
  margin-left: 20px;
}
@media screen and (max-width: 990px) {
  .Cart-btn + .Cart-btn {
    margin-left: 0;
    margin-top: 20px;
  }
}
@media screen and (max-width: 600px) {
  .Cart-rating {
    display: flex;
    justify-content: center;
  }
}
.Cart-desc {
  font-size: 13px;
  display: block;
  margin-top: 5px;
  color: #b1b1b1;
}
.Cart-block + .Cart-block {
  margin-left: 20px;
}
@media screen and (min-width: 1200px) {
  .Cart-block + .Cart-block {
    margin-left: 30px;
  }
}
.Cart-block_info {
  width: 100%;
}
@media screen and (max-width: 990px) {
  .Cart-block_info {
    width: auto;
    margin-right: auto;
  }
}
@media screen and (max-width: 480px) {
  .Cart-block_info {
    margin-left: 0 !important;
    max-width: none;
    text-align: center;
    width: 100%;
  }
}
.Cart-block_price {
  white-space: nowrap;
  text-align: right;
}
@media screen and (max-width: 480px) {
  .Cart-block_price {
    justify-content: center;
  }
  .Cart-block_price .Cart-price {
    margin-left: 0;
  }
}
.Cart-block_row {
  display: flex;
  align-items: flex-start;
  width: 100%;
}
.Cart-block_row:first-child {
  width: 100%;
}
@media screen and (max-width: 600px) {
  .Cart-block_row .Cart-block_row {
    display: block;
  }
  .Cart-block_row .Cart-block_row .Cart-block_price {
    text-align: left;
    margin-left: 0;
    margin-top: 20px;
  }
  .Cart-block_row .Cart-price {
    display: inline-block;
  }
  .Cart-block_row .Cart-priceTitle,
  .Cart-block_row .Cart-price_old {
    display: inline-block;
  }
  .Cart-block_row .Cart-price_old {
    margin-left: 5px;
  }
  .Cart-block_row .Cart-sale {
    display: inline-block;
    margin-left: 10px;
  }
}
@media screen and (max-width: 480px) {
  .Cart-block_row {
    margin-left: 0 !important;
    display: block;
  }
  .Cart-block_row .Cart-block_price {
    display: block;
    text-align: center !important;
  }
}
.Cart-block_amount {
  min-width: 200px;
}
@media screen and (max-width: 600px) {
  .Cart-block_amount {
    margin-left: 0 !important;
    margin-right: auto;
  }
}
.Cart-block_total {
  margin-right: auto;
}
@media screen and (max-width: 480px) {
  .Cart-block_pict {
    width: 100%;
    display: flex;
    justify-content: center;
    margin-bottom: 20px;
  }
}
.Cart-block_seller .form-select {
  min-width: 200px;
}
@media screen and (min-width: 1200px) {
  .Cart-block_seller .form-select {
    min-width: 250px;
  }
}
@media screen and (max-width: 990px) {
  .Cart-block_seller {
    margin-left: 0 !important;
    width: 100%;
  }
}
@media screen and (max-width: 600px) {
  .Cart-block_seller {
    margin-bottom: 20px;
  }
}
.Cart-pict {
  max-height: 150px;
  display: flex;
  justify-content: center;
  align-items: center;
  width: 160px;
}
@media screen and (min-width: 990px) {
  .Cart-pict:hover {
    border-bottom-color: transparent;
  }
}
.Cart-price {
  font-size: 20px;
  font-weight: 500;
  color: #6db33f;
}
.Cart-priceTitle {
  font-weight: 500;
  display: block;
  margin-bottom: 6px;
}
.Cart-price_old {
  color: #999;
  text-decoration: line-through;
  display: block;
  margin-bottom: 10px;
}
@media screen and (max-width: 600px) {
  .Cart-price_old {
    margin-right: 10px;
    margin-bottom: 0;
  }
}
.Cart-sale {
  display: inline-block;
  padding: 8px 15px;
  display: flex;
  margin-top: 10px;
  align-items: center;
  justify-content: center;
  box-shadow: -4px 3px 5px 1px rgba(0,0,0,0.2);
  background-color: #f7ca18;
  color: #2b2b2b;
  font-size: 17px;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.36px;
}
.Cart-img {
  max-height: 150px;
  max-width: 100%;
}
.Cart-amount {
  max-width: 200px;
}
.Cart-delete {
  display: flex;
  width: 56px;
  height: 56px;
  background-color: #ebebeb;
  justify-content: center;
  align-items: center;
  border: 1px solid transparent;
  transition: all 300ms;
}
@media screen and (min-width: 990px) {
  .Cart-delete:hover {
    background-color: #e0b9ac;
    border-color: #ba6347;
    transition: all 300ms;
  }
}
.Cart-messageInfo {
  font-size: 30px;
  text-align: center;
  padding-top: 50px;
  padding-bottom: 80px;
  font-weight: 500;
  color: #6db33f;
}
.Cart_order .Cart-block_amount {
  min-width: auto;
  width: 50px;
}
@media screen and (max-width: 600px) {
  .Cart_order .Cart-block_amount {
    margin-right: 0;
    margin-left: auto !important;
  }
}
.Cart_order .Cart-block_seller {
  width: 120px;
}
@media screen and (max-width: 990px) {
  .Cart_order .Cart-block_seller {
    margin-right: auto;
  }
}
@media screen and (max-width: 600px) {
  .Cart_order .Cart-block_seller {
    margin-bottom: 0;
  }
}

.CartBlock {
  display: flex;
  align-items: center;
}
@media screen and (max-width: 990px) {
  .CartBlock {
    height: auto;
  }
}
.CartBlock-block {
  position: relative;
  display: flex;
  align-items: center;
}
@media screen and (min-width: 990px) {
  .CartBlock-block:hover {
    border-bottom-color: transparent;
  }
}
@media screen and (max-width: 990px) {
  .CartBlock-block {
    height: auto;
  }
}
.CartBlock-block + .CartBlock-block {
  margin-left: 23px;
}
.CartBlock-block_text {
  min-width: 150px;
}
@media screen and (max-width: 990px) {
  .CartBlock-block_text {
    min-width: auto;
  }
}
.CartBlock-block_text .CartBlock-img {
  min-width: 30px;
}
@media screen and (max-width: 990px) {
  .CartBlock-block_text .CartBlock-img {
    min-width: auto;
  }
}
.CartBlock-block_text .CartBlock-budget {
  position: absolute;
  top: 100%;
  width: 100%;
  margin-top: 3px;
}
.CartBlock-text {
  color: #2b2b2b;
  font-weight: 500;
  margin-left: 10px;
  font-size: 16px;
}
@media screen and (max-width: 990px) {
  .CartBlock-text {
    display: none;
  }
}
@media screen and (max-width: 990px) {
  .CartBlock-budget {
    display: none;
  }
}
.CartBlock-amount {
  background: #6db33f;
  position: absolute;
  right: -14px;
  top: 0px;
  min-width: 23px;
  font-size: 12px;
  letter-spacing: -0.6px;
  color: #fff;
  padding: 2px;
  line-height: 1.2em;
  display: flex;
  align-items: center;
  justify-content: center;
  border: 3px solid #fff;
  border-radius: 100px;
}
.CartBlock-price {
  font-size: 12px;
  color: #777;
  font-weight: 500;
  text-transform: uppercase;
  letter-spacing: 1.3px;
  display: block;
}
.CartBlock-img {
  max-height: 23px;
}

.Footer {
  margin-top: auto;
  padding: 0;
  width: 100%;
  color: #fff;
  background: #6db33f;
}
@media screen and (max-width: 480px) {
  .Footer {
    position: static;
  }
}
@media screen and (max-width: 990px) {
  .Footer {
    margin-top: 40px;
  }
}
@media screen and (max-width: 1300px) {
  .Footer-news {
    display: none;
  }
}
.Footer-news .media_news {
  color: #86878a;
}
.Footer-main {
  padding-top: 34px;
  padding-left: 10px;
  padding-right: 10px;
  justify-content: space-between;
  line-height: 1.8em;
  font-size: 13px;
}
.Footer-main:before,
.Footer-main:after {
  display: none;
}
.Footer-main .row-block {
  width: auto;
  min-width: 150px;
  max-width: 400px;
}
@media screen and (max-width: 990px) {
  .Footer-main .row-block {
    visibility: visible;
    min-width: 100px;
  }
}
@media screen and (max-width: 600px) {
  .Footer-main .row-block {
    margin-left: auto !important;
    margin-right: auto !important;
    max-width: 300px;
  }
}
.Footer-main .row-block:first-child {
  font-size: 14px;
  line-height: 1.5em;
}
@media screen and (max-width: 1300px) {
  .Footer-main .row-block:first-child {
    max-width: 300px;
  }
}
@media screen and (max-width: 990px) {
  .Footer-main .row-block:first-child {
    width: 35%;
  }
}
@media screen and (max-width: 600px) {
  .Footer-main .row-block:first-child {
    width: auto;
  }
}
@media screen and (max-width: 1300px) {
  .Footer-main .row-block + .row-block {
    margin-left: 20px;
  }
}
@media screen and (max-width: 990px) {
  .Footer-main .row-block + .row-block {
    margin-top: 0;
  }
}
@media screen and (max-width: 990px) {
  .Footer-main {
    display: flex;
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 600px) {
  .Footer-main {
    display: block;
  }
}
.Footer-main .menu {
  margin-top: 21px;
}
.Footer-main .menu_img {
  margin-top: 0;
}
.Footer-title {
  color: #fff;
  font-weight: 600;
  text-transform: uppercase;
  letter-spacing: 0.8px;
  display: block;
  margin-top: 14px;
  margin-bottom: 18px;
}
.Footer-menu {
  margin-left: 0px;
  padding-left: 0;
}
.Footer-menu .menu-link {
  padding-left: 0;
  padding-right: 0;
  color: #fff;
  font-weight: 500;
  display: inline;
  line-height: 1.5em;
  border-bottom: 1px solid #828282;
  border-bottom: 1px solid rgba(255,255,255,0);
  padding-bottom: 0;
  cursor: pointer;
}
@media screen and (min-width: 990px) {
  .Footer-menu .menu-link:hover {
    position: relative;
    border-bottom: 1px solid #fff;
    transition: border 0.4s;
  }
}
.Footer-logo {
  margin-bottom: 30px;
}
@media screen and (max-width: 990px) {
  .Footer-logo {
    max-width: 100%;
  }
  .Footer-logo img {
    max-width: 100%;
  }
}
.Footer-search {
  background: #6db33f;
  color: #fff;
  padding-top: 26px;
  padding-bottom: 25px;
  margin-bottom: 40px;
  font-size: 16px;
  letter-spacing: 0.9px;
}
.Footer-search .media-image {
  margin-right: 9px;
}
.Footer-searchBlock {
  text-transform: uppercase;
}
.Footer-searchBlock:last-child {
  width: 60%;
  margin-left: 20px;
}
@media screen and (max-width: 700px) {
  .Footer-searchBlock:last-child {
    width: 100%;
    margin-left: 0;
  }
}
.Footer-search .wrap {
  display: flex;
  align-items: center;
  justify-content: space-between;
}
@media screen and (max-width: 700px) {
  .Footer-search .wrap {
    display: block;
  }
}
.Footer-social {
  margin: 0;
  position: relative;
  padding-right: 28px;
}
@media screen and (min-width: 1200px) {
  .Footer-social {
    right: -6px;
  }
}
@media screen and (max-width: 990px) {
  .Footer-social {
    width: 100%;
  }
}
@media screen and (max-width: 480px) {
  .Footer-social {
    display: flex;
    justify-content: center;
  }
}
.Footer-copy {
  margin-top: 30px;
  text-align: center;
  background-color: #4c7d2c;
  padding-top: 25px;
  padding-bottom: 25px;
  color: #fff;
  font-size: 12px;
  line-height: 1.2em;
  font-weight: 300;
}
.Footer-copy a {
  color: #fff;
}
.Footer-copy span {
  vertical-align: middle;
}
.Footer-payments {
  display: inline-flex;
  vertical-align: middle;
  margin-left: 30px;
}
.Footer-payments div + div {
  margin-left: 10px;
}
@media screen and (max-width: 480px) {
  .Footer-payments {
    flex-wrap: wrap;
    margin-left: -10px;
    margin-right: -10px;
  }
  .Footer-payments div {
    margin-right: 10px;
    margin-left: 10px;
    margin-top: 20px;
  }
}
.Footer-payments_column {
  flex-wrap: wrap;
  margin-top: -14px;
  margin-left: -7px;
  margin-right: -7px;
}
.Footer-payments_column div {
  margin-right: 7px;
  margin-left: 7px;
  margin-top: 14px;
}
.Footer-payments_column div + div {
  margin-left: 7px;
}

.Header {
  position: relative;
  margin-bottom: 0;
}
.Header-end,
.Header-start {
  width: 53px;
}
.Header-center {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 998px;
}
.Header-menuOne,
.Header-menuTwo {
  width: 30%;
}
@media screen and (max-width: 990px) {
  .Header-menuOne,
  .Header-menuTwo {
    display: none;
  }
}
.Header-menu {
  box-shadow: 0 0 11px 2px rgba(0,0,0,0.2);
  z-index: 3;
  position: relative;
}
.Header-trigger {
  display: none;
  margin-left: 30px;
}
@media screen and (max-width: 990px) {
  .Header-trigger {
    display: flex;
    height: 100%;
    align-items: center;
    width: auto;
  }
}
.Header-rowMain {
  box-shadow: 0 0 13px 1px rgba(0,0,0,0.09);
  background-color: #fff;
  z-index: 10;
  position: relative;
  padding: 20px 0 15px;
}
@media screen and (max-width: 990px) {
  .Header-rowMain .row {
    display: flex;
  }
  .Header-rowMain .row-block {
    margin-top: 0;
    margin-left: 30px;
  }
  .Header-rowMain .row-block:first-child {
    margin-left: 0;
  }
}
@media screen and (max-width: 480px) {
  .Header-rowMain .row {
    flex-wrap: wrap;
  }
}
.Header-cart {
  position: relative;
  display: flex;
  width: auto;
}
@media screen and (max-width: 990px) {
  .Header-cart {
    transform: scale(0.8);
    margin-left: auto !important;
  }
}
.Header-cartLabel {
  position: absolute;
  right: 10px;
  top: -7px;
}
@media screen and (max-width: 990px) {
  .Header-search {
    display: none;
  }
}
.Header-searchWrap {
  width: 100%;
}
@media screen and (max-width: 990px) {
  .Header-searchWrap {
    width: auto;
    display: flex;
    align-items: center;
  }
}
@media screen and (max-width: 480px) {
  .Header-searchWrap {
    margin-left: 0 !important;
  }
}
.Header-searchWrap_open {
  position: absolute;
  left: 0;
  right: 0;
  top: 0px;
  bottom: 0;
  margin-left: 0 !important;
  padding: 0px 20px;
  background: #fff;
  z-index: 1100;
}
.Header-searchWrap_open .Header-search {
  display: block;
  width: 100%;
}
.Header-searchLink {
  display: none;
  margin-right: 15px;
}
@media screen and (max-width: 990px) {
  .Header-searchLink {
    display: block;
  }
}
.Header-logo {
  flex-shrink: 4;
  display: flex;
  align-items: center;
}
.Header-logo a {
  border: none !important;
}
@media screen and (max-width: 480px) {
  .Header-logo {
    width: 100%;
    margin-bottom: 20px;
  }
}
.Header-btn {
  display: flex;
  align-items: center;
  margin-left: 43px;
}
.Header-contacts {
  padding: 15px 0 12px;
  border-bottom: 3px solid #6db33f;
  font-size: 12px;
}
@media screen and (max-width: 990px) {
  .Header-contacts {
    display: none;
  }
}

.HideBlock {
  position: relative;
  padding: 0 30px;
  background-color: #fafafa;
}
@media screen and (max-width: 480px) {
  .HideBlock {
    padding: 0px 20px;
  }
}
.HideBlock-title {
  color: #5e5e5e;
  font-size: 17px;
  font-weight: 500;
  line-height: 1.2em;
  letter-spacing: 0.51px;
  display: inline-block;
}
.HideBlock-header {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 20px 30px;
  background-color: #f1f1f1;
  margin-left: -30px;
  margin-right: -30px;
}
@media screen and (max-width: 480px) {
  .HideBlock-header {
    padding: 20px 20px;
    margin-left: -20px;
    margin-right: -20px;
  }
}
.HideBlock-content {
  line-height: 1.2em;
  padding: 30px 0;
  overflow: hidden;
  transition: height 200ms, padding 150ms 50ms;
  color: #505050;
  font-size: 14px;
  font-weight: 400;
  letter-spacing: 0.42px;
}
@media screen and (max-width: 480px) {
  .HideBlock-content {
    padding: 20px 0;
  }
}
.HideBlock-footer {
  text-align: center;
  margin-top: 3.8rem;
}
.HideBlock-trigger {
  cursor: pointer;
}
.HideBlock-btn {
  border: none;
  font-weight: 600;
  color: #6db33f;
  width: 30px;
  cursor: pointer;
  min-width: 30px;
  height: 30px;
  background: url("../img/icons/arrow_hide.svg") center center no-repeat;
  background-size: 20px 10px;
  transform: rotate(180deg);
  transition: transform 200ms;
  margin-left: 20px;
}
.HideBlock-btn:focus {
  outline: none;
}
.HideBlock_CLOSE .HideBlock-content {
  height: 0 !important;
  padding: 0;
  transition: height 200ms, padding 150ms 50ms;
}
.HideBlock_CLOSE .HideBlock-btn {
  transform: rotate(0deg);
  transition: transform 200ms;
}

.Login {
  max-width: 840px;
  padding: 70px 50px;
  border-radius: 10px;
  margin-bottom: 10px;
  margin-top: 0px;
  box-shadow: 0 0 24px rgba(0,0,0,0.1);
  background: #fff;
  margin-left: auto;
  margin-right: auto;
  display: flex;
  justify-content: center;
  align-items: center;
}
@media screen and (max-width: 480px) {
  .Login {
    padding-left: 20px;
    padding-right: 20px;
  }
}
.Login-title {
  color: #2b2b2b;
  font-size: 23px;
  font-weight: 500;
  text-transform: uppercase;
  line-height: 1.4em;
  display: block;
  text-align: center;
  margin-bottom: 50px;
}
@media screen and (max-width: 480px) {
  .Login-title {
    font-size: 18px;
  }
}
.Login-step_hide {
  display: none;
}
.Login-reg {
  font-size: 16px;
  margin-top: 30px;
  display: inline-block;
}
.Login_registration {
  display: block;
}
.Login_registration .form-group .form-group_key {
  display: none;
}
.Login_registration .form-group .form-group_key + .form-group {
  min-width: 150px;
  max-width: 150px;
  text-align: right;
}
.Login_registration .form-group_confirm .form-group_key {
  display: block;
  width: 150px;
}
.Login_registration .form-group_row > .form-group {
  margin-top: 0;
  margin-left: 20px;
}
.Login_registration .form-group_row > .form-group:first-child {
  width: 100%;
  margin-left: 0;
}
@media screen and (max-width: 990px) {
  .Login_registration .form-group_row {
    flex-wrap: wrap;
  }
  .Login_registration .form-group_row .form-btn {
    padding-left: 20px;
    padding-right: 20px;
  }
  .Login_registration .form-group_row .form-input_code {
    display: none;
  }
  .Login_registration .form-group_row.form-group_confirm .form-input_code {
    display: block;
  }
  .Login_registration .form-group_row > .form-group:first-child {
    margin-bottom: 20px;
  }
  .Login_registration .form-group_row > .form-group_key {
    margin-left: 0;
    display: block;
    width: 100%;
  }
  .Login_registration .form-group_row > .form-group:last-child {
    max-width: 125px;
  }
  .Login_registration .form-group_row .form-input_code {
    text-align: left;
  }
}
@media screen and (max-width: 480px) {
  .Login_registration .form-group_row .form-input_code {
    width: 100%;
  }
  .Login_registration .form-group_row .form-group {
    width: 100%;
    margin-bottom: 20px;
    margin-left: 0;
  }
  .Login_registration .form-group_row .form-group_key {
    max-width: none;
  }
  .Login_registration .form-group_row .form-group:last-child {
    max-width: 100% !important;
    text-align: right;
  }
  .Login_registration .form-group_row .form-btn {
    margin-left: auto;
  }
}
.Login_registration .form-group_key {
  max-width: 150px;
}

.Middle {
  overflow: hidden;
  margin-bottom: 43px;
}
.Middle:before,
.Middle:after {
  content: "";
  display: table;
}
.Middle:after {
  clear: both;
}
.Middle-column {
  float: left;
  width: 250px;
  margin-right: -100%;
  margin-top: 20px;
}
@media screen and (max-width: 990px) {
  .Middle-column {
    float: none;
    margin-right: 0;
    width: auto;
    margin-top: 50px;
  }
}
.Middle-top {
  padding: 20px 0 20px;
  margin-bottom: 20px;
  background: #6db33f url("../img/bg/books.png") left center repeat-x;
  min-height: 130px;
  display: flex;
  align-items: center;
  justify-content: center;
}
.Middle-top .Middle-title {
  margin: 0 !important;
  color: #fff;
  text-align: center;
  font-size: 28px;
  font-weight: 400;
  padding-bottom: 0;
  line-height: 45px;
  text-transform: uppercase;
  letter-spacing: 1.12px;
}
.Middle-top .Middle-title:after {
  display: none;
}
.Middle_form {
  visibility: visible;
  position: relative;
}
.Middle_form:after {
  position: absolute;
  content: '';
  display: block;
  background: url("../img/bg/entry.jpg") center center no-repeat;
  background-size: cover;
  left: 0;
  right: 0;
  top: 0;
  max-height: 40%;
  height: 200px;
  z-index: 1;
}
@media screen and (max-width: 480px) {
  .Middle_form:after {
    background: url("../img/bg/entry_phone.jpg") center center no-repeat;
  }
}
.Middle_form:before {
  position: absolute;
  content: '';
  display: block;
  background: linear-gradient(0deg, #fff 0%, rgba(255,255,255,0) 80%), rgba(0,0,0,0.35);
  left: 0;
  right: 0;
  top: 0;
  max-height: 40%;
  height: 200px;
  z-index: 2;
}
.Middle_form .Middle-top {
  background: none;
  position: relative;
  z-index: 3;
  margin-bottom: 0;
}
.Middle_form .Middle-main {
  position: relative;
  z-index: 3;
  margin-top: 0;
}
.Middle-title {
  font-size: 23px;
  font-weight: 500;
  display: block;
  position: relative;
  padding-bottom: 10px;
  line-height: 1.2em;
  margin-top: 60px;
  margin-bottom: 0;
}
.Middle-title:first-child {
  margin-top: 60px;
}
.Middle-title:after {
  content: '';
  display: block;
  position: absolute;
  width: 57px;
  height: 3px;
  background-color: #6db33f;
  bottom: 0;
  left: 0;
}
.Middle-footer {
  margin-top: 19px;
}
.Middle-main {
  width: 100%;
  position: relative;
  margin-top: 20px;
}
@media screen and (max-width: 990px) {
  .Middle-main {
    float: none;
    padding-left: 0;
  }
}
.Middle-article {
  box-shadow: 0 5px 15px rgba(0,0,0,0.3);
  background-color: #f4f4f4;
}

.Profile {
  visibility: visible;
}
.Profile-file {
  display: block;
  opacity: 0;
  position: absolute;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
  cursor: pointer;
  z-index: 10;
}
.Profile-fileLabel {
  width: 140px;
  height: 100px;
  position: absolute;
  left: 50%;
  top: 50%;
  margin-left: -70px;
  margin-top: -50px;
  display: flex;
  justify-content: center;
  text-align: center;
  align-items: center;
}
.Profile-avatar {
  height: 293px;
  padding: 10px;
  display: flex;
  justify-content: center;
  align-items: center;
  border: 1px solid #e0e0e0;
  position: relative;
}
.Profile-avatar_noimg .Profile-img {
  display: none;
}
.Profile-success {
  color: #2aa73a;
  display: block;
  margin-top: 20px;
  text-align: right;
}
.Profile-img {
  max-height: 100%;
  max-width: 100%;
  height: 100%;
  min-height: 110px;
  min-width: 160px;
  display: flex;
  justify-content: center;
  align-items: center;
  background: #fff;
  z-index: 10;
  position: relative;
}
.Profile-img img {
  max-height: 100%;
  height: auto;
  width: auto;
  display: block;
  max-width: 100%;
}
.Profile-btn {
  text-align: right;
  display: flex;
  justify-content: space-between;
}
.Profile-btn .btn + .btn {
  margin-left: 20px;
}
@media screen and (max-width: 990px) {
  .Profile-btn {
    flex-wrap: wrap;
  }
  .Profile-btn .btn {
    margin-bottom: 10px;
    margin-right: 20px;
  }
  .Profile-btn .btn + .btn {
    margin-left: 0;
  }
}
.Profile-btn_confirm {
  margin-top: 25px;
  display: none;
}
.Profile-form {
  margin-top: 0;
}

.Rating {
  font-family: Montserrat;
  align-items: center;
  display: flex;
}
.RatingGroup {
  text-align: center;
}
.Rating-stars {
  white-space: nowrap;
}
.Rating-star {
  display: inline-block;
}
.Rating-star svg {
  width: 20px;
  height: 20px;
}
.Rating-star + .Rating-star {
  margin-left: 1px;
}
.Rating-star path {
  fill: #f0f0f0;
}
.Rating-star_view path {
  fill: #f7ca18;
}
.Rating-title {
  margin-left: 10px;
  color: #babbbe;
  font-size: 13px;
  font-weight: 500;
  text-transform: uppercase;
}
.Rating-title_success {
  color: #2aa73a;
  text-transform: none;
  font-weight: 400;
}
.Rating-title_error {
  color: #ba6347;
  text-transform: none;
  font-weight: 400;
}
.Rating_comment {
  visibility: visible;
}
.Rating_comment .Rating-star svg {
  width: 15px;
  height: 15px;
}
.Rating_inputClick .Rating-star path {
  fill: #f7ca18;
}
.Rating_input {
  position: relative;
  display: inline-block;
}
.Rating_input input {
  width: 19px;
  height: 19px;
  margin-left: -20px !important;
  opacity: 0;
  margin-right: 0;
}
.Rating_input input:checked ~ .Rating-star path {
  fill: #f0f0f0;
}
.Rating_noStyleLink {
  cursor: default;
}
@media screen and (min-width: 990px) {
  .Rating_noStyleLink:hover {
    border-bottom-color: transparent !important;
  }
}

.ovHidden {
  overflow-x: hidden;
}
.Section {
  position: relative;
  padding-top: 30px;
  max-width: 100%;
}
.Section + .Section {
  margin-top: 77px;
}
@media screen and (max-width: 480px) {
  .Section + .Section {
    margin-top: 50px;
  }
}
.Section .wrap {
  position: relative;
  z-index: 5;
}
.Section-bg {
  z-index: 0;
  position: absolute;
  left: 0;
  right: 0;
  top: 0;
  bottom: 0;
  height: auto;
}
.Section-title {
  margin-bottom: 28px;
  margin-top: 45px;
  font-size: 17px;
  font-weight: 600;
  line-height: 1.2em;
  text-transform: uppercase;
  letter-spacing: 3px;
  display: block;
}
.Section-desc {
  color: #0fcabf;
  font-size: 18px;
  font-weight: 300;
  text-transform: uppercase;
  font-style: italic;
  line-height: 1.3em;
  letter-spacing: -0.2px;
  margin-bottom: 55px !important;
}
@media screen and (max-width: 990px) {
  .Section-desc {
    font-size: 12px;
    margin-bottom: 25px !important;
  }
  .Section-desc_close {
    margin-bottom: 22px !important;
  }
}
.Section-header {
  position: relative;
  display: flex;
  align-items: center;
  flex-wrap: wrap;
  margin-bottom: 28px;
  margin-top: 35px;
  min-height: 45px;
}
.Section-header:first-child {
  margin-top: 0;
}
.Section-header-form {
  margin-top: 0;
  width: auto;
  margin-left: 30px;
}
@media screen and (max-width: 480px) {
  .Section-header-form {
    justify-content: center;
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }
}
.Section-header-form .form-label {
  color: #2b2b2b;
}
.Section-header-links {
  margin-top: 0;
  width: auto;
  margin-left: 30px;
}
@media screen and (max-width: 480px) {
  .Section-header-links {
    justify-content: center;
    width: 100%;
    margin-left: 0;
    margin-top: 20px;
  }
}
.Section-header-link {
  display: inline-block;
  color: #6db33f;
  margin-right: 20px;
  position: relative;
}
.Section-header-link:after {
  display: block;
  content: '|';
  color: #6db33f;
  position: absolute;
  right: -15px;
  height: 100%;
  width: 10px;
  text-align: center;
  top: 0;
}
.Section-header-link_ACTIVE {
  color: #2b2b2b;
}
.Section-header-link:last-child {
  margin-right: 0;
}
.Section-header-link:last-child:after {
  display: none;
}
.Section-header .Section-title {
  margin-right: auto;
  margin-bottom: 0;
  margin-top: 0;
}
.Section-header_sm {
  margin-bottom: 48px;
}
.Section-header_sm .Section-title {
  font-size: 16px;
}
.Section-header_close {
  margin-top: 0;
}
.Section-header_blank {
  background: none;
  margin-bottom: 20px;
}
@media screen and (max-width: 990px) {
  .Section-header {
    width: auto;
    float: none;
  }
}
@media screen and (max-width: 480px) {
  .Section-header {
    display: block;
    background: none;
    margin-bottom: 40px;
  }
  .Section-header:first-child {
    margin-top: 0;
  }
  .Section-header .Section-title {
    padding-right: 0;
    text-align: center;
  }
  .Section-header .Section-control {
    margin-top: 15px;
    padding-left: 0;
  }
}
.Section-header_product {
  margin-top: 65px;
  margin-bottom: 40px;
}
@media screen and (max-width: 480px) {
  .Section-header_product:first-child {
    margin-top: 65px;
  }
}
.Section-footer {
  margin-top: 30px;
  display: flex;
  justify-content: center;
}
.Section-filter {
  visibility: visible;
  padding-right: 26px;
  background-color: #fff;
  padding-left: 25px;
}
.Section-control {
  display: block;
  background-color: #fff;
  padding-left: 17px;
}
.Section-tab {
  color: #94979f;
  font-size: 14px;
  font-weight: 500;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 0.8px;
}
.Section-tab + .Section-tab {
  margin-left: 20px;
  padding-left: 21px;
  border-left: #e0e0e0 1px solid;
}
.Section-tabActive {
  color: #6db33f;
}
.Section-content {
  color: #b1b1b1;
  font-size: 16px;
  line-height: 1.67em;
  width: 100%;
}
.Section-content .Section-header {
  margin-right: 0;
}
@media screen and (max-width: 990px) {
  .Section-content {
    padding-left: 0;
  }
}
.Section-column {
  min-width: 304px;
  max-width: 304px;
  flex-basis: 304px;
  position: relative;
  z-index: 1;
}
.Section-columnTitle {
  color: #878a91;
  font-size: 17px;
  line-height: 26px;
  text-transform: uppercase;
  letter-spacing: 3px;
  display: block;
  font-weight: 600;
  padding-top: 0px;
}
.Section-columnContent {
  margin-top: 30px;
}
.Section-column .Section-header {
  margin-bottom: 30px;
}
.Section-column .Section-title {
  font-size: 16px;
}
.Section-columnHeader {
  display: flex;
  align-items: center;
  padding-bottom: 12px;
  border-bottom: 1px solid #e1e1e1;
  justify-content: space-between;
  padding-top: 17px;
}
.Section-columnButtons {
  display: flex;
}
.Section-columnButtons .btn:last-child {
  margin-left: 7px;
  width: 100%;
}
.Section-columnRange {
  margin-top: -20px;
}
.Section-columnSection {
  padding-top: 10px;
}
.Section-columnSection + .Section-columnSection {
  margin-top: 20px;
}
.Section-columnSection:first-child {
  padding-top: 3px;
}
.Section-columnSection:first-child .Section-header {
  margin-top: 0;
}
.Section-columnSection_mark {
  padding: 24px 20px;
  box-shadow: 0 3px 0 rgba(0,0,0,0.05);
  border: 1px solid #e0e0e0;
  background-color: #fff;
}
.Section-columnSection_mark:first-child {
  padding-top: 24px;
}
.Section_column .wrap {
  display: flex;
}
.Section_columnLeft .Section-content {
  padding-left: 354px;
}
.Section_columnLeft .Section-column {
  margin-right: -304px;
}
.Section_columnRight .Section-content {
  padding-right: 354px;
}
.Section_columnRight .Section-column {
  order: 10;
  margin-left: -304px;
}
@media screen and (min-width: 1200px) {
  .Section_columnWide .Section-column {
    min-width: 374px;
    max-width: 374px;
  }
}
.Section_columnWide.Section_columnLeft .Section-column {
  margin-right: -282px;
}
.Section_columnWide.Section_columnRight .Section-column {
  margin-left: -282px;
}
@media screen and (max-width: 990px) {
  .Section_column .wrap {
    display: block;
  }
  .Section_column .Section-column {
    width: 100%;
    max-width: none;
    margin-left: 0 !important;
    margin-right: 0 !important;
    margin-bottom: 35px;
    min-width: auto;
  }
  .Section_column .Section-content {
    padding-left: 0;
    padding-right: 0;
  }
}
@media screen and (max-width: 480px) {
  .Section_column .Section-content {
    margin-top: 50px;
  }
}
@media screen and (max-width: 990px) {
  .Section_columnDesktop .Section-column {
    display: none;
  }
  .Section_columnDesktop .Section-content {
    padding-left: 0;
  }
}
@media screen and (max-width: 480px) {
  .Section_columnDesktop .Section-content {
    margin-top: 0;
  }
}
.Section_dark {
  background-color: #f7f7f7;
  padding-bottom: 97px;
}
.Section_dark .Section-header {
  margin-top: 87px;
  margin-bottom: 66px;
}
.Section_dark .Section-header_blank {
  margin-top: 80px;
  margin-bottom: 20px;
}
@media screen and (max-width: 480px) {
  .Section_dark .Section-header {
    margin-top: 40px;
    margin-bottom: 40px;
  }
}
.Section_dark .Section-title,
.Section_dark .Section-filter,
.Section_dark .Section-control {
  background-color: #f7f7f7;
}
@media screen and (max-width: 480px) {
  .Section_dark {
    padding-bottom: 50px;
  }
}
.Section + .Section_close {
  margin-top: 30px;
}

.Slider {
  background-size: cover;
  height: 600px;
  overflow: hidden;
  position: relative;
  padding-top: 1px;
}
@media screen and (max-width: 480px) {
  .Slider {
    height: 280px;
  }
}
.Slider-box {
  padding: 30px 15px 100px;
  width: 100%;
  box-sizing: border-box;
  margin: 0 auto;
  height: 100%;
  position: relative;
}
.Slider-box:after,
.Slider-box:before {
  content: '';
  display: block;
  position: absolute;
  left: 0;
  bottom: 0;
  top: 0;
  width: 30px;
  z-index: 100;
  background: linear-gradient(90deg, #fff 0%, rgba(255,255,255,0) 79%);
}
.Slider-box:after {
  left: auto;
  right: 0;
  background: linear-gradient(90deg, rgba(255,255,255,0) 25%, #fff 100%);
}
.Slider-item {
  height: 100%;
  display: flex !important;
  align-items: center;
}
.Slider-item:focus {
  outline: none;
}
@media screen and (max-width: 990px) {
  .Slider-item {
    height: auto;
  }
}
.Slider-content {
  visibility: visible;
}
.Slider-load {
  display: none;
  position: absolute;
  justify-content: center;
  align-items: center;
  text-align: center;
  left: -30px;
  bottom: 0;
  right: -30px;
  padding-right: 40px;
  padding-left: 40px;
  top: 0;
  z-index: 700;
}
.Slider-load-text {
  color: #2b2b2b;
  background: #fff;
  border-radius: 1000px;
  line-height: 1.3em;
  padding: 40px;
  box-shadow: 0px 5px 10px rgba(0,0,0,0.4);
  font-size: 30px;
  font-weight: 600;
}
@media screen and (max-width: 480px) {
  .Slider-load-text {
    font-size: 22px;
    padding: 25px;
  }
}
.Slider_main {
  height: 671px;
}
.Slider_main .Slider-box {
  min-width: 320px;
}
@media screen and (max-width: 480px) {
  .Slider_main .Slider-box {
    padding-bottom: 40px;
  }
}
.Slider_main .Slider-content {
  margin-left: 20%;
}
@media screen and (min-width: 1200px) {
  .Slider_main .Slider-content {
    margin-left: 25.5%;
  }
}
@media screen and (max-width: 990px) {
  .Slider_main .Slider-content {
    margin-left: 0;
  }
}
@media screen and (max-width: 990px) {
  .Slider_main .Slider-content > .row {
    display: flex;
  }
}
@media screen and (max-width: 750px) {
  .Slider_main .Slider-content > .row {
    display: block;
  }
}
@media screen and (max-width: 750px) {
  .Slider_main .Slider-img {
    max-height: 200px;
    width: auto;
    height: 100%;
  }
  .Slider_main .Slider-img img {
    max-width: 100%;
    height: 100%;
    width: auto;
    max-height: 100%;
    margin-left: auto;
    margin-right: auto;
  }
}
.Slider_main .Slider-navigate {
  justify-content: flex-start;
  margin-left: 25.5%;
}
.Slider_main .Slider-navigateWrap {
  height: 80px;
  padding: 0 15px;
  max-width: 1028px;
  margin-left: auto;
  margin-right: auto;
}
@media screen and (max-width: 480px) {
  .Slider_main .Slider-navigateWrap {
    height: 40px;
  }
}
@media screen and (max-width: 700px) {
  .Slider_main .Slider-navigate {
    margin-left: 0;
    justify-content: center;
  }
}
.Slider_bigCard {
  height: 700px;
}
@media screen and (max-width: 990px) {
  .Slider_bigCard {
    height: auto !important;
  }
  .Slider_bigCard .slick-track {
    height: auto;
  }
  .Slider_bigCard .slick-list {
    height: auto;
  }
  .Slider_bigCard .Slider-box {
    height: auto;
  }
  .Slider_bigCard .Slider-item {
    margin-top: 30px;
    align-items: flex-start;
    height: auto !important;
  }
}
.Slider_bigCard .Slider-box {
  padding: 0;
}
.Slider_goods .Card {
  padding: 0;
}
.Slider_goods .Card-description {
  margin-bottom: 30px;
}
.Slider_goods .Slider-box {
  padding: 0;
}
.Slider_goods .Slider-navigateWrap {
  position: relative;
  left: 0;
  bottom: 0;
  right: 0;
  top: 0;
}
.Slider_goods .Slider-navigate .slick-dots {
  display: none !important;
}
.Slider_goods .Slider-navigate .slick-next {
  margin-left: 12px;
}
.Slider-footer {
  margin-top: 43px;
}
@media screen and (max-width: 990px) {
  .Slider-footer .row {
    display: flex;
  }
  .Slider-footer .row-block {
    margin-top: 0;
  }
  .Slider-footer .row-block + .row-block {
    margin-left: 10px;
  }
}
.Slider-title {
  font-weight: 600;
  line-height: 84px;
  text-transform: uppercase;
  display: block;
  font-size: 74px;
  letter-spacing: -2.3px;
  margin-bottom: 25px;
}
@media screen and (max-width: 990px) {
  .Slider-title {
    font-size: 50px;
    line-height: 1.2em;
  }
}
@media screen and (max-width: 480px) {
  .Slider-title {
    font-size: 22px;
    line-height: 1.2em;
  }
}
.Slider-text {
  font-size: 17px;
  color: #8a8c95;
  line-height: 1.7em;
}
@media screen and (max-width: 480px) {
  .Slider-text {
    font-size: 14px;
  }
}
.Slider-navigate {
  display: flex;
  justify-content: center;
  align-items: center;
}
.Slider-navigateWrap {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0px;
  right: 0px;
}
.Slider-navigate .slick-dots {
  position: relative;
  left: 0;
  right: 0;
  bottom: 0;
  top: 0;
  width: auto;
  margin-left: 11px;
  margin-right: 11px;
}
@media screen and (max-width: 480px) {
  .Slider-navigate .slick-dots li {
    margin-top: 2px !important;
    margin-bottom: 2px !important;
  }
}
.Slider-navigate .slick-next {
  order: 10;
}
@media screen and (max-width: 600px) {
  .Slider-hidePhone {
    display: none;
  }
}
.Slider_carousel {
  background: none;
  height: auto;
  width: 100%;
  overflow: visible;
}
.Slider_carousel .Slider-box {
  overflow: hidden;
  width: auto;
  height: auto;
  padding: 30px 0 0;
  position: relative;
  z-index: 5;
  margin-left: -30px;
  margin-right: -30px;
}
.Slider_carousel .Slider-box.Cards {
  display: flex;
  justify-content: flex-start;
  flex-wrap: nowrap;
}
.Slider_carousel .Slider-box.Cards .Slider-item {
  min-width: 20%;
  width: 20%;
}
@media screen and (max-width: 990px) {
  .Slider_carousel .Slider-box.Cards .Slider-item {
    width: 33%;
    min-width: 33%;
  }
}
@media screen and (max-width: 480px) {
  .Slider_carousel .Slider-box.Cards .Slider-item {
    width: 100%;
    min-width: 100%;
  }
}
.Slider_carousel .Slider-box.slick-initialized .Slider-item {
  min-width: auto;
  width: auto;
}
.Slider .Slider-content {
  width: 100%;
  display: flex;
  justify-content: center;
}
.Slider .Slider-item {
  padding-left: 20px;
  padding-right: 20px;
}
.Slider .slick-list {
  height: auto;
}
.Slider .slick-track {
  display: flex;
  align-items: flex-start;
  height: auto;
}
img {
  max-width: 100%;
}
/* Slider */
.slick-slider {
  position: relative;
  display: block;
  box-sizing: border-box;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  touch-action: pan-y;
}
.slick-list {
  position: relative;
  overflow: hidden;
  display: block;
  margin: 0;
  padding: 10px 10px 0;
  border-radius: 10px;
  height: 100%;
}
.slick-list:focus {
  outline: none;
}
.slick-list.dragging {
  cursor: pointer;
  cursor: hand;
}
.slick-slider .slick-track,
.slick-slider .slick-list {
  transform: translate3d(0, 0, 0);
}
.slick-track {
  position: relative;
  left: 0;
  top: 0;
  display: block;
  height: 100%;
}
.slick-track:before,
.slick-track:after {
  content: "";
  display: table;
}
.slick-track:after {
  clear: both;
}
.slick-loading .slick-track {
  visibility: hidden;
}
.slick-slide {
  float: left;
  height: 100%;
  min-height: 1px;
  display: none;
}
[dir="rtl"] .slick-slide {
  float: right;
}
.slick-slide img {
  display: block;
}
.slick-slide.slick-loading img {
  display: none;
}
.slick-slide.dragging img {
  pointer-events: none;
}
.slick-initialized .slick-slide {
  display: block;
}
.slick-loading .slick-slide {
  visibility: hidden;
}
.slick-vertical .slick-slide {
  display: block;
  height: auto;
  border: 1px solid transparent;
}
.slick-arrow.slick-hidden {
  display: none;
}
/* Slider */
/* Arrows */
.slick-prev,
.slick-next {
  position: absolute;
  display: block;
  line-height: 0px;
  font-size: 0px;
  cursor: pointer;
  background: transparent;
  color: transparent;
  top: 110px;
  right: -26px;
  padding: 0;
  border: none;
  border-radius: 100px;
  outline: none;
  background: url("../img/icons/arrowRightSlider.svg") center center no-repeat;
  width: 52px;
  height: 52px;
  z-index: 50;
  box-shadow: 0 0 14px 4px rgba(0,0,0,0.16);
  background-color: #fff;
  transition: opacity 300ms;
  opacity: 1;
}
@media screen and (max-width: 990px) {
  .slick-prev,
  .slick-next {
    right: 0px;
    top: 170px;
  }
}
.slick-prev:hover,
.slick-next:hover,
.slick-prev:focus,
.slick-next:focus {
  outline: none;
  color: transparent;
  opacity: 1;
}
.slick-prev:hover,
.slick-next:hover {
  box-shadow: 0 0 14px 4px rgba(0,0,0,0.25);
}
.slick-prev.slick-disabled,
.slick-next.slick-disabled {
  opacity: 0;
  transition: opacity 300ms;
  cursor: default;
}
.slick-prev.slick-disabled:hover,
.slick-next.slick-disabled:hover {
  opacity: 0;
}
.slick-prev.slick-disabled:before,
.slick-next.slick-disabled:before {
  opacity: 0.25;
}
.slick-prev {
  transform: rotate(-180deg);
  right: auto;
  left: -26px;
}
@media screen and (max-width: 990px) {
  .slick-prev {
    left: 0px;
  }
}
/* Dots */
.slick-dotted .slick-slider {
  margin-bottom: 30px;
}
.slick-dots {
  position: absolute;
  bottom: 7px;
  list-style: none;
  text-align: center;
  padding: 0;
  margin: 0;
  width: 100%;
}
.slick-dots li {
  position: relative;
  display: inline-block;
  vertical-align: middle;
  height: 7px;
  width: 7px;
  margin: 0 5px;
  padding: 0 !important;
  cursor: pointer;
}
.slick-dots li + li {
  margin-top: 0 !important;
}
.slick-dots li button {
  border: 0;
  background: #aaabae;
  display: block;
  outline: none;
  line-height: 0px;
  font-size: 0px;
  color: transparent;
  padding: 0px;
  cursor: pointer;
  width: 7px;
  height: 7px;
  border-radius: 0;
}
.slick-dots li button:hover,
.slick-dots li button:focus {
  outline: none;
}
.slick-dots li button:hover:before,
.slick-dots li button:focus:before {
  opacity: 1;
}
.slick-dots li button:before,
.slick-dots li button:after {
  display: none;
}
.slick-dots li:before,
.slick-dots li:after {
  display: none !important;
}
.slick-dots li.slick-active button {
  background-color: #6db33f;
  position: relative;
}

.Spoiler {
  visibility: visible;
}
.Spoiler-footer {
  margin-top: 20px;
  display: flex;
  justify-content: flex-end;
}
.Spoiler-hide {
  height: auto;
}
.Spoiler-trigger:after {
  content: attr(data-showtext);
}
.Spoiler_CLOSE .Spoiler-hide {
  display: none;
}
.Spoiler_CLOSE .Spoiler-trigger:after {
  content: attr(data-hidetext);
}

.Tabs-links {
  display: flex;
}
.Tabs-link {
  min-width: 200px;
  height: 46px;
  display: flex;
  justify-content: center;
  align-items: center;
}
.Tabs-link + .Tabs-link {
  margin-left: 2.3rem;
}
.Tabs-link_ACTIVE {
  border-color: #6db33f;
}
.Tabs-wrap {
  padding: 50px;
  border: 1px solid #e0e0e0;
  border-top: none;
  margin-top: 0;
}
@media screen and (max-width: 990px) {
  .Tabs-wrap {
    padding: 30px;
  }
}
@media screen and (max-width: 480px) {
  .Tabs-wrap {
    padding: 15px;
  }
}
.Tabs-block:before,
.Tabs-block:after {
  content: "";
  display: table;
}
.Tabs-block:after {
  clear: both;
}
.Tabs .Tabs-block {
  padding-bottom: 0;
  overflow: visible;
}
.Tabs-title {
  font-size: 20px;
  margin-top: 0;
}
.Tabs_steps {
  margin-top: 0;
}
.Tabs_steps .Tabs-wrap {
  margin-top: 0;
}
.Tabs_steps .Tabs-links {
  visibility: visible;
  counter-reset: steps;
}
@media screen and (max-width: 480px) {
  .Tabs_steps .Tabs-links {
    justify-content: center;
    align-items: center;
    padding-left: 1.5rem;
    padding-right: 1.5rem;
  }
}
.Tabs_steps .Tabs-link {
  color: #2c2d2e;
  border: none;
  height: auto;
  width: auto;
  position: relative;
}
@media screen and (max-width: 480px) {
  .Tabs_steps .Tabs-link {
    align-items: center;
    flex-direction: column;
  }
}
.Tabs_steps .Tabs-link span:after {
  content: '';
  position: absolute;
  background: #fff url("data:image/png;base64,iVBORw0KGgoAAAANSUhEUgAAAA8AAAALCAYAAACgR9dcAAAAq0lEQVQoU2NkIBEEzE8QYGD/6bAhavkGRlL0gjQysn/fz8DAaMD4n6GRaM3IGhkYGC7+/8nhANYctDSi4d8vjgkbEhd8wOYSbBpBahlBGv8zMtQzMPy/8P8npyO6Abg0gixhhEj+OMDAwKCPbgA+jWDNIAKbAWBJaODA/IjuKniAoRsA8TujAS6NcJthgYRqAFgUHKq4AhIjqpAMYMCnEcNmZBeA2LhshKkDAG7IdTpqX8axAAAAAElFTkSuQmCC") center center no-repeat;
  border-radius: 100px;
  left: 1.5rem;
  top: -0.3rem;
  width: 1.8rem;
  height: 1.8rem;
  display: block;
}
@media screen and (max-width: 480px) {
  .Tabs_steps .Tabs-link span:after {
    background-color: #f6f6f6;
    top: 0;
    left: 50%;
    margin-left: -0.2rem;
  }
}
.Tabs_steps .Tabs-link:before {
  counter-increment: steps;
  content: counter(steps);
  width: 2.8rem;
  height: 2.8rem;
  color: #6db33f;
  font-family: Montserrat, 'Arial Black', "Helvetica CY", Helvetica, "Nimbus Sans L", sans-serif;
  font-size: 13px;
  font-weight: 700;
  border: 0.2rem solid #6db33f;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 100px;
  margin-right: 1rem;
}
@media screen and (max-width: 480px) {
  .Tabs_steps .Tabs-link:before {
    margin-bottom: 0.9rem;
  }
}
.Tabs_steps .Tabs-link + .Tabs-link {
  position: relative;
  margin-left: 9rem;
}
@media screen and (max-width: 480px) {
  .Tabs_steps .Tabs-link + .Tabs-link {
    margin-left: 4.8rem;
  }
}
.Tabs_steps .Tabs-link + .Tabs-link:after {
  height: 0.2rem;
  width: 6rem;
  left: -7.2rem;
  top: 50%;
  position: absolute;
  background-color: #6db33f;
  content: '';
  display: block;
  cursor: default;
}
@media screen and (max-width: 480px) {
  .Tabs_steps .Tabs-link + .Tabs-link:after {
    left: -5.3rem;
    top: 1.6rem;
    width: 5rem;
  }
}
.Tabs_steps .Tabs-link_ACTIVE {
  color: #2c2d2e;
}
.Tabs_steps .Tabs-link_ACTIVE span:after {
  display: none;
}
.Tabs_steps .Tabs-link_ACTIVE:before {
  background-color: #6db33f;
  color: #fff;
}
.Tabs_steps .Tabs-link_ACTIVE ~ .Tabs-link {
  color: #b7b6b4;
}
.Tabs_steps .Tabs-link_ACTIVE ~ .Tabs-link:after {
  background-color: #b7b6b4;
}
.Tabs_steps .Tabs-link_ACTIVE ~ .Tabs-link:before {
  background-color: transparent;
  border-color: #cbcccc;
  color: #b7b6b4;
}
.Tabs_steps .Tabs-link_ACTIVE ~ .Tabs-link span:after {
  display: none;
}
.Tabs_default {
  margin-top: 30px;
}
.Tabs_default .Tabs-links {
  border: 1px solid #e0e0e0;
  border-bottom: none;
  background: #f7f7f7;
}
@media screen and (max-width: 990px) {
  .Tabs_default .Tabs-links {
    flex-wrap: wrap;
  }
}
.Tabs_default .Tabs-link {
  height: 40px;
  min-width: auto;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  font-size: 14px;
  letter-spacing: 0.8px;
  padding: 5px 55px;
  font-weight: 400;
  color: #93969d;
  border-right: 1px solid #fff;
}
@media screen and (max-width: 480px) {
  .Tabs_default .Tabs-link {
    width: 100%;
    border-right: none;
  }
}
.Tabs_default .Tabs-link:before,
.Tabs_default .Tabs-link:after {
  display: none;
}
.Tabs_default .Tabs-link + .Tabs-link {
  margin-left: 0;
}
.Tabs_default .Tabs-link + .Tabs-link:after {
  display: none;
}
.Tabs_default .Tabs-link_ACTIVE {
  background-color: #6db33f;
  color: #fff;
}
.Tabs_column {
  display: flex;
  align-items: stretch;
  justify-content: space-between;
}
.Tabs_column .Tabs-links {
  min-width: 20rem;
  margin-left: 2.5rem;
  display: block;
  order: 2;
  margin-top: 8.5rem;
}
.Tabs_column .Tabs-link {
  width: auto;
  margin-left: 0;
  font-family: Roboto;
  font-size: 1.1rem;
  font-weight: 700;
  letter-spacing: 0.079rem;
  text-transform: uppercase;
  padding: 1.9rem 2.3rem;
  height: auto;
  border: 0.2rem solid #f7f7f7;
  border-bottom: none;
  justify-content: flex-start;
  color: #999;
}
.Tabs_column .Tabs-link + .Tabs-link {
  border-top-width: 0.1rem;
}
.Tabs_column .Tabs-link:last-child {
  border-bottom: 0.2rem solid #f7f7f7;
}
.Tabs_column .Tabs-link_ACTIVE {
  border-left-color: #6db33f;
  color: #6db33f;
}
.Tabs_column .Tabs-title {
  margin-bottom: 4rem;
}
.Tabs_column .Tabs-wrap {
  margin-top: 0;
  width: 100%;
}
.Tabs_hz .Tabs-links {
  border-radius: 0.2rem;
  box-shadow: inset 0 0 0 1px #f7f7f7;
  background-color: #fff;
  overflow-x: auto;
}
.Tabs_hz .Tabs-links:after,
.Tabs_hz .Tabs-links:before {
  min-width: 2.4rem;
  min-height: 100%;
  display: block;
  content: '';
}
@media screen and (max-width: 990px) {
  .Tabs_hz .Tabs-links {
    padding: 0;
    border: none;
    height: auto;
  }
}
@media screen and (max-width: 990px) {
  .Tabs_hz .Tabs-wrap {
    margin-top: 3rem;
  }
}
.Tabs_hz .Tabs-block > *:last-child {
  margin-bottom: 0 !important;
}
.Tabs_hz .Tabs-link {
  border: none;
  height: auto;
  width: auto;
  color: #333;
  font-family: Montserrat;
  font-size: 13px;
  font-weight: 600;
  position: relative;
  padding: 2.3rem 0 2.1rem;
  white-space: nowrap;
}
.Tabs_hz .Tabs-link + .Tabs-link {
  margin-left: 3.7rem;
}
@media screen and (max-width: 990px) {
  .Tabs_hz .Tabs-link {
    padding: 1rem 0 2rem;
  }
}
.Tabs_hz .Tabs-link_ACTIVE,
.Tabs_hz .Tabs-link:hover {
  color: #0064c9;
}
.Tabs_hz .Tabs-link_ACTIVE:after,
.Tabs_hz .Tabs-link:hover:after {
  content: '';
  display: block;
  position: absolute;
  height: 0.4rem;
  background-color: #3182d4;
  left: 0;
  bottom: 0rem;
  right: 0;
}

.Tags {
  visibility: visible;
  font-size: 16px;
  margin-top: 20px;
}
.Tags .Tags {
  padding-left: 30px;
  margin-top: 0px;
  margin-bottom: 20px;
}
.Tags .Tags:last-child {
  margin-bottom: 0;
}
.Tags_genres .Tag {
  font-size: 1em;
}
.Tags_genres .Tag a {
  border-color: transparent;
}
.Tags_genres .Tags {
  font-size: 0.9em;
}
.Tags_genres .Tags_embed > .Tag {
  display: block;
}
.Tags_genres .Tags .Tags-title {
  font-size: 1.11112em;
}
.Tags-title {
  display: block;
  margin-bottom: 5px;
  margin-left: -30px;
}
.Tags .Tag {
  margin-right: 20px;
  margin-bottom: 10px;
}
.Tag {
  display: inline-block;
}
.Tag a {
  color: #2b2b2b;
  border-bottom: 1px dashed #2b2b2b;
  font-weight: 500;
  line-height: 1.2em;
}
@media screen and (min-width: 990px) {
  .Tag a:hover {
    color: #6db33f;
    border-bottom: 1px dashed #6db33f;
    transition: border 0.4s;
  }
}
.Tag-amount {
  display: inline-block;
  margin-left: 5px;
  font-size: 0.7em;
}
.Tag_md {
  font-size: 1.1em;
}
.Tag_lg {
  font-size: 1.5em;
  line-height: 1.1em;
}
.Tag_sm {
  font-size: 0.8em;
}
.Tag_xs {
  font-size: 0.7em;
}

.Topup {
  visibility: visible;
  display: flex;
  justify-content: center;
}
.Topup-title {
  font-size: 16px;
  font-weight: 600;
}
.Topup-wrap {
  max-width: 500px;
}
.Topup-group {
  align-items: flex-end;
}
.Topup-group .form-input {
  margin-right: 20px;
  min-width: 100px;
}
.Topup-btn {
  text-align: center;
}
.Topup-success {
  color: #2aa73a;
  text-align: center;
}
